*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.video-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
video{
    height: 100%;
    width: 100%;
}
.actions-container{
    height: 12rem;
    width: 5rem;
    position: absolute;
    top: calc( (100vh - 12rem) / 2 );
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    z-index: 2;

}
.actions-container > * {
    width: 100%;
    height: 5rem;
    /* background-color: lightgreen; */
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-btn{
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

.capture-btn{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
}
.scale-record{
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes scale-record {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.scale-capture{
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 300ms;
}

@keyframes scale-capture {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.timer-container{
    position: absolute;
    color: aqua;
    font-size: 0.8rem;
    bottom: 10rem;
    left: 5rem;
}

.timer{
    display: none;
}

.filter-container{
    position: absolute;
    top: calc((100vh - 16rem) / 2);
    left: 5rem;
    height: 16rem;
    width: 5rem;
    background-color: aliceblue;
    z-index: 2;
    /* I used z index to separate layers into base filter and buttons  */
}

.filter{
    height: 4rem;
    background-image: url("https://picsum.photos/seed/picsum/200/300");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.filter:hover{
    transform: scale(1.1);
    border: 2px solid green;
    cursor: pointer;
}

.orange{
    background-color: #ffff0047;
}

.brown{
    background-color: #a52a2a59;
}

.pink{
    background-color: #ffc0cba6;
}

.transparent{
    background-color: transparent;
}

.filter-layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: #ffc0cba6; */
    z-index: 1;
}

.material-icons{
    color: white;
    transform: scale(1.4);
    z-index: 2;
}

.gallery{
    position: absolute ;
    right: 7rem;
    bottom: 7rem;
}

.gallery:hover{
    transform: scale(2);
    cursor: pointer;
}